DATABASE_URL="postgresql://USER:PASSWORD@ep-example-pooler.ap-northeast-1.aws.neon.tech/splitease?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://USER:PASSWORD@ep-example.ap-northeast-1.aws.neon.tech/splitease?sslmode=require&channel_binding=require"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
